img{
	width:640px;
	height:460px;
}
h1, h2{
	color:red;
}
header h2{
	color:green;
}
ul{
	color:red;
}
ul li{
	font-size:200%;
}
ul ul{
	font-size:50%;
}
nav>ul{
	color:blue;
}
b + em{
	color:red;
}
ol li:nth-child(1){
	font-weight:bold;
}
ol li:nth-last-child(1){
	font-weight:bold;
}
ol li:nth-child(even){
	color:green;
}
/*
ol li:nth-child(odd){
	color:green;
}*/
a:visited{
	color:black;
}
input:focus{
	border: 2px solid blue;
}
.gallery{
	font-size:300%;
}
input[type="text"]:focus{
	border: 2px solid green;
}
a[href]{
	
}
a[href^=info]{
	color:purple;
}
#firsti{

}