body {
	font-family: Trebuchet, Sans-Serif;
}
h1 {
	color: rgb(255, 255, 255);
	background-color: #000;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ie-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	padding-left: 5px;
}
ul li {
	display: inline;
}
h3 {
	border-bottom: solid black 1px;
}
td, th{
	border: solid #ddd 1px;
}
thead {
	background-color: #ccc;
}
thead td, thead th {
 	/* border: width style color */
		border:1px solid #777 ;
}
input[type="submit"] {
	height: 3em;
	width: 5em;
	background-color: #ee0;
	border-radius: 5px;
	border: solid 2px #ccc;
	border-color:#ccc #555 #555 #ccc;
	font-size: 1.2em;
	color: #fff;
	font-style: bold;
}
body>h2 + p {
	color: red;
}